<nav id="appNavbar" class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/">
        Income Manager
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="/checkout">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge badge-primary badge-pill">1</span>
            </a>
        </li>

        <li class="nav-item no-arrow">
            <a class="nav-link" href="/login">
                Login
            </a>
        </li>
        <li class="nav-item no-arrow">
            <a class="nav-link" href="/signup">
                Sign Up
            </a>
        </li>

    </ul>

</nav>