<nav id="appNavbar" className="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a className="navbar-brand" href="/">
        Income Manager
    </a>
    <ul className="navbar-nav ml-auto">
        <li className="nav-item dropdown no-arrow mx-1">
            <a className="nav-link" href="/checkout">
                <i className="fas fa-shopping-cart"></i>
                <span className="badge badge-primary badge-pill">1</span>
            </a>
        </li>

        <li className="nav-item no-arrow">
            <a className="nav-link" href="/login">
                Login
            </a>
        </li>
        <li className="nav-item no-arrow">
            <a className="nav-link" href="/signup">
                Sign Up
            </a>
        </li>

    </ul>

</nav>