<div class="container">
    <div class="row">
        <div class="col">
            Income: ${{stats.totalIncome}}

        </div>
    </div>
    <div class="row">
        <div class="col">
            Life: ${{stats.life}}

        </div>
    </div>
    <div class="row">
        <div class="col">
            Estimated Expenses: ${{stats.totalEstimatedExpense}}
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            Spending: ${{stats.totalSpending}}
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            Savings: ${{stats.totalSaving}}
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            Status: {{stats.status}}
            
        </div>
    </div>
</div>